<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="https://www.bbc.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="basicTest">
    <classes>
      <class name="com.bbc.uiapibbc.BaseTest"/>
      <class name="com.bbc.uiapibbc.HomePageTest"/>
      <class name="com.bbc.uiapibbc.NewsPageTest"/>
      <class name="com.bbc.uiapibbc.NewsVideoPageTest"/>
    </classes>
  </test>
</suite>